[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.5.14"
authors = ["Mysten Labs <build@mystenlabs.com>"]
edition = "2024"
license = "Apache-2.0"

[workspace.dependencies]
fastcrypto = { git = "https://github.com/MystenLabs/fastcrypto", rev = "d1fcb853196c3de7888ed8fad74f419b8c8fbe3b", features = ["aes"] }
fastcrypto-tbls = { git = "https://github.com/MystenLabs/fastcrypto", rev = "d1fcb853196c3de7888ed8fad74f419b8c8fbe3b" }
bcs = "0.1.6"
serde = "1.0.210"
serde_json = "1.0.138"
itertools = { version = "0.14.0" }
anyhow = "1.0"
rand = "0.8.5"
hex = "0.4"
clap = { version = "4.5.53", features = ["derive"] }
tracing = "0.1.43"
serde_with = "3.16.1"
prost-types = "0.14"
sui-rpc = "0.1.0"
tonic = "0.14"
semver = { version = "1.0.27", features = ["serde"] }
once_cell = "1.21.3"
axum = { version = "0.8", features = ["macros"] }
tower = "0.5"
tower-http = { version = "0.6.8", features = ["cors", "limit"] }
tokio = { version = "1.48.0", features = ["full"] }
futures = "0.3"
reqwest = "0.12"
tracing-subscriber = {version = "0.3.22", features = ["env-filter"]}
prometheus = "0.13.4"
chrono = "0.4"
serde_yaml = "0.9"
snap = "1.1.0"
git-version = "0.3.9"

# Sui dependencies
sui_types = { git = "https://github.com/mystenlabs/sui", rev = "22642cf", package = "sui-types"}
mysten-service = { git = "https://github.com/mystenlabs/sui", rev = "22642cf" }
sui_sdk = { git = "https://github.com/mystenlabs/sui", rev = "22642cf", package = "sui-sdk"}
shared_crypto = { git = "https://github.com/MystenLabs/sui", rev = "22642cf", package = "shared-crypto" }
move-core-types = { git = "https://github.com/MystenLabs/sui.git", rev = "22642cf" }
prometheus_closure_metric = { git = "https://github.com/MystenLabs/sui", rev = "22642cf", package = "prometheus-closure-metric" }
sui-move-build = { git = "https://github.com/mystenlabs/sui", rev = "22642cf", package = "sui-move-build" }
test-cluster = { git = "https://github.com/mystenlabs/sui", rev = "22642cf", package = "test-cluster" }

sui-sdk-types = { version = "0.1.0", features = ["serde"] }

[profile.release]
panic = 'abort'
